$channel-bg: #fff;
$channel-border-color: #c7c7c7;

$channel-bg-active: #bcd0f2;
$channel-border-color-active: #444;
$channel-font-color-active: #fff;

.channels {
    display: flex;
    align-items: center;
}

.channels__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.channels__item_active {
    .channels__button {
        background: $channel-bg-active;
        border-color: $channel-border-color-active;
        color: $channel-font-color-active;
    }
}

.channels__button {
    user-select: none;
    -webkit-apperance: none;
    background: $channel-bg;
    border: 1px solid $channel-border-color;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 14px;
    min-height: 21px;
    text-transform: uppercase;
}

.channels__button_add {
    border: 0;
    background: url(../../static/img/add.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
    height: 16px;
    width: 16px;

    &:hover {
        background: url(../../static/img/add__active.svg) no-repeat center;
        background-size: contain;
    }
}
