body {
    font-family: 'Hind', sans-serif;
    background: #fcfcfc;
    overflow-y: scroll;
}

h1,
h3 {
    margin: 0;
}

.stif {
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 36px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


// TODO: Remove when Content component will be created
.content {
    max-width: 800px;
    padding: 0 16px;
    margin: 0 auto;
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.channel-name {
    text-align: center;
    color: #8e5098;
    font-size: 42px;
    border-bottom: 2px solid #8e5098;
    margin: 22px 0;
    padding-bottom: 13px;
    min-height: 65px;
}
