.channels-dropdown {
    position: absolute;
    top: 32px;
    width: 200px;
    right: 0;
    border: 1px solid;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #f7f7f7;
}

.channels-dropdown__item {
    cursor: pointer;
    padding: 2px 4px;

    &:hover {
        color: #f7f7f7;
        background: #8e5098;
    }
}